@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#political-parties ol ol{
	list-style-type: lower-alpha;
}

b{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.warning{
	margin: 1em;
}

.warning p{
	text-align: center;
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption > p + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption i,
figcaption em{
	font-style: normal;
}

table{
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

table caption{
	font-style: italic;
	margin-bottom: 1em;
}

#appendix-1-4 table tbody td:nth-of-type(2),
#appendix-1-4 table tbody td:nth-of-type(4){
	border-right: none;
}

#appendix-1-4 table tbody td:nth-of-type(3),
#appendix-1-4 table tbody td:nth-of-type(5){
	border-left: none;
	text-align: center;
}

#appendix-2-2 table td:nth-of-type(1){
	border-right: none;
	text-align: right;
}

#appendix-2-2 table td:nth-of-type(2){
	border-left: none;
	text-align: center;
}

td{
	border-style: solid;
	border-width: 1px;
	font-variant-numeric: tabular-nums;
	padding: .5em;
	vertical-align: top;
}

table tbody td + td{
	text-align: right;
}

table.cost tbody td:first-child + td{
	text-align: center;
}

thead td{
	font-variant: small-caps;
	text-align: center;
}

#chapter-7 blockquote:nth-of-type(10) > p:nth-of-type(3){
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
	text-indent: 0;
}

.pass{
	text-align: initial;
}

.pass header{
	display: inline-block;
	text-align: center;
}

.pass header + p{
	text-align: center;
}

header p + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote header{
	font-variant: small-caps;
	margin: 1em 0;
	text-align: center;
}

blockquote header strong{
	text-transform: uppercase;
}

blockquote[epub|type~="z3998:letter"] header{
	font-variant: normal;
	margin-bottom: 0;
	text-align: initial;
}

blockquote[epub|type~="z3998:letter"] header p,
blockquote[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

#chapter-9 blockquote:nth-of-type(3) ul{
	list-style: none;
	padding: 0;
}

#chapter-9 blockquote:nth-of-type(3) blockquote{
	font-style: italic;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}
