@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#political-parties ol ol{
	list-style-type: lower-alpha;
}

b{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.warning{
	margin: 1em;
}

.warning p{
	text-align: center;
	text-indent: 0;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	break-before: page;
	break-after: page;
	break-inside: avoid;
	text-align: center;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

table{
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

table caption{
	margin-bottom: 1em;
	font-style: italic;
}

td{
	border-width: 1px;
	border-style: solid;
	padding: .5em;
	vertical-align: top;
	font-variant-numeric: tabular-nums;
}

table tbody td + td{
	text-align: right;
}

table.cost tbody td:first-child + td{
	text-align: center;
}

thead td{
	text-align: center;
	font-variant: small-caps;
}

#chapter-7 blockquote:nth-of-type(10) > p:nth-of-type(3){
	margin: 1em;
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

.pass{
	text-align: left;
}

.pass header{
	display: inline-block;
	text-align: center;
}

.pass header + p{
	text-align: center;
}

header p + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote header{
	font-variant: small-caps;
	margin: 1em 0;
	text-align: center;
}

blockquote header strong{
	text-transform: uppercase;
}

blockquote[epub|type~="z3998:letter"] header{
	font-variant: normal;
	margin-bottom: 0;
	text-align: left;
}

blockquote[epub|type~="z3998:letter"] header p,
blockquote[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

#chapter-9 blockquote:nth-of-type(3) ul{
	list-style: none;
	padding: 0;
}

#chapter-9 blockquote:nth-of-type(3) blockquote{
	font-style: italic;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}
