@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#political-parties ol li{
	list-style: none; /* We can't use built-in list numbering because the sequence is: 1, 2, 2A, etc. */
}

b{
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	text-align: center;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
}

.pass{
	text-align: left;
}

.pass header{
	display: inline-block;
	text-align: center;
}

.pass header + p{
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}
